body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #333;
    color: white;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
